* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --color1: rgb(251, 250, 248);
    --color2: red;
    
}


.play-area{
    background-color: var(--color1);
    
    
}

/* title screen */

.nav-time{
    display:flex;
    justify-content: space-between;
    margin:20px 50px 50px 50px;
    font-size:25px;
    font-weight:bold;
    
}
.nav-time nav{
    color:var(--color2);
}
.nav-time nav:hover{
    color:rgba(255,0,0, .5);
}
.intro-wrapper{
    display:flex;
    justify-content:center;
    padding-top:100px;
    height:900px;
    
}
.quiz-intro{
    margin:20px;
    display:inline-flex;
    flex-direction:column;
    align-items: center;
    
}
.quiz-intro h1{
    font-size:60px;
    color: var(--color2);
    margin-bottom:20px;
}
.quiz-intro p{
    font-size:25px;
    width:35%;
    margin-bottom:20px;
    word-spacing:3px;
}
.btn{
    background-color: var(--color2);
    border:solid 1px var(--color2);
    border-radius: 5px;
    font-size:20px;
    font-weight:bold;
    color:var(--color1); 
    width:400px;
    height:50px;
    margin:10px;

}

.btn:hover {
    background-color: rgba(255,0,0, .5);
}

/* quiz styling */

.quiz-area {
    display:flex;
    justify-content: center;
    height: 700px;
    align-items: flex-start;
    margin-bottom:30px;
    display:none;
    
}

.quiz-area h1 {
    font-size: 60px;
    margin-bottom: 30px;
}
.question{
    display: none;
    flex-direction: column;
    width:35%;
    
}

.quiz-area .btn {
    text-align: left;
    padding-left:10px;
}

.answer-feedback {
    border-top: solid 3px grey;
    font-style: italic;
    font-weight: bold;
    font-size:30px;
    color: grey;
    padding-top: 20px;
    width:500px;
    align-self:center;
    margin-left:33%;
    display:none;
}

/*end screen*/
.end-screen{
    display:none;
    justify-content:center;
    align-items: flex-start;
    flex-direction:column;
    height:600px;
    width:50%;
    margin:0 auto;

}

.end-screen h1{
    font-size:60px;
    color:var(--color2);
    margin-bottom:10px;
}
.end-screen p{
    font-size:30px;
    margin-bottom:10px;
}
.submit-container label{
    font-size:30px;
    font-weight:bold;
}

.intials{
    height:30px;
}

.sub{
    height:30px;
    width:100px;
    margin-right:3px;
    margin-left: 0px;
}

/* highscores */

.high-scores{
    display:none;
    justify-content:center;
    align-items: flex-start;
    flex-direction:column;
    height:1000px;
    width:50%;
    margin:0 auto;

}

.ranking{
    font-size: 30px;
    font-weight:bold;
    font-style:italic;
    color: var(--color1);
    width:300px;
    padding:5px;
    border: solid 3px black;
    background-color: rgba(255,0,0, .5);
    border-radius:5%;
}

.clear{
    height: 30px;
    width:200px;
}